@tailwind base;
@tailwind components;
@import "../public/fonts/style.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins Regular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
:root {
  font-size: 16px;
}
@media (max-width: 390px) {
  :root {
    font-size: 12px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.like {
  width: 0;
  height: 0;
}
.product:hover .like {
  width: 4rem;
  height: 4rem;
  transition: all 0.2s ease-in-out;
}
.getDetails:hover img {
  width: 4rem;
  transition: width 0.3s ease-in-out;
}
.interview-detail {
  background: transparent;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.interview-card:hover .interview-detail {
  background: #161616;
  opacity: 0.7;
  color: white;
}
.post-title {
  background: transparent;
  color: transparent;
  transition: all 0.5s ease-in-out;
}
.post-card:hover .post-title {
  background: #161616;
  opacity: 0.7;
  color: white;
}

button.MuiButtonBase-root {
  border-radius: 0px !important;
}
.arrow {
  @apply flex items-center cursor-pointer max-w-max;
}
.arrow svg {
  width: 20px;
  height: 20px;
  transition: width 1s ease;
  overflow: visible;
}
div.arrow:hover svg.arr {
  width: 40px;
}
@tailwind utilities;
